.img-fluid {
    max-height: 150px;
}

.position-relative {
    position: relative;
}

.position-absolute {
    position: absolute;
}

.top-0 {
    top: 0;
}

.end-0 {
    right: 0;
}

.btn-danger {
    padding: 0.3rem;
    font-size: 1rem;
}
