/* @import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto+Slab&display=swap');


*{
    margin: 0;
    padding: 0;
}

/* Carousel */

.carousel-item img {
    object-fit: fill;
    height: 80vh;
}

/* ----------------------------------------------------Contents----------------------------------------------------- */

body h1, .text-h2{
    color: #655642;
    font-family: 'Roboto Slab', serif;
    
}

.program_offered{
    margin-top: 2em;
    margin-bottom: 2em;
}
body div{
    font-family: 'Montserrat', sans-serif;
}
body h1{
    margin-top:20px;
    text-align: center;
    
}
div a{
    
    color:black !important;
    
}

.card{
    border: 1px solid rgba(0, 0, 0, 0.3);
    
}

.grade-list .row1 {
    height: 25vh;
}
.back{
    width: 100% ;
    height: 25vh;
    background: linear-gradient(to bottom left, #996633 0%, #663300 100%) ;
    clip-path:  circle(40% at 0 100%);
    position: absolute;
    margin: 0 ;
}

.card .card-body{
    margin:0;
}
.card .card-body .grade-text{
    font-weight: bold;
    font-size: 20px;
}
.card .card-body .grade-number{
    font-weight: bold;
    font-size: 20px;
    margin: 0;
    margin-left: 12px;
}
    
.card-body{
    z-index: 20 !important;
}


.grade-list .card-body{
    position: absolute;
    display: flex;
    padding: 0;
    bottom: 10px;
    left: 5px;
}
.grade1 { 
    height: 100%;
    background-image: url('../img/grade1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.grade2 {
    height: 100%;
    background-image: url('../img/grade2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.grade3 {
    height: 100%;
    background-image: url('../img/grade3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.grade4 {
    height: 100%;
    background-image: url('../img/grade4.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.grade5 {
    height: 100%;
    background-image: url('../img/grade5.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.grade6 {
    height: 100%;
    background-image: url('../img/grade6.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.grade-list .grade-text, .grade-list .grade-number {
    color: #f3f3f3;
}

/* junior school cards */
.junior-list .grade-text, .junior-list .grade-number {
    color: #f3f3f3;
}
.junior-list .row1 {
    height: 25vh;
}
.back1{
    width: 100% ;
    height: 25vh;
    background: linear-gradient(to bottom left, #996633 0%, #663300 100%) ;
    clip-path:  circle(43% at 0 100%);
    position: absolute;
    margin: 0 ;
}
.junior-list .card-body {
    position: absolute;
    display: flex;
    padding: 0;
    bottom: 10px;
    left: 5px;
}
.grade7 {
    height: 100%;
    background-image: url('../img/grade7.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.grade8 {
    height: 100%;
    background-image: url('../img/grade8.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.grade9 {
    height: 100%;
    background-image: url('../img/grade9.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.grade10 {
    height: 100%;
    background-image: url('../img/grade10.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
/* ---buttons---- */

.main-button .buttons1 a{
    border-radius: 10px 10px 10px 10px;
    color: #f3f3f3 !important;

}
.main-button .buttons1 .active{
    background-color :#e3c194 !important ;
    color: #000 !important;
}

div .buttons1{
    text-align: center;
    
}
div .buttons1 a {
    background-color: #447996;
    margin-top: 10px;
    text-decoration: none !important;
}

.me-3{
    margin-right: 0 !important;
}


.text-h2 h2{
    margin-top: 2em;
    text-align: center;
}
.text-h6 h6{
    margin-top: 20px;
    text-align: center;
}
.text3 h3{
    color: #655642;
    text-align: center;
}
body div .text-hh h3{
    text-align: center;
    color: #655642;
    margin-top: 20px;
}

.paragraph{
    font-family: 'Montserrat', sans-serif;
}

.paragraph p{
    text-indent: 30px;
}
.paragraph{
    margin-top: 20px;
}
div .new-par{
    margin-top: 20px;
}

/* ---for ipad----- */

@media only screen and (min-width: 768px){

    /* Header */
    .iphoneHeader {
        display: none;
    }
    .iPadHeader {
        display: flex;
        justify-content:space-between;
        padding-bottom: 15px;
    }
    .iPadHeader .contactInfoHeader , .socialiconIpad {
        font-family: 'Montserrat', sans-serif;
        margin-top: 1rem;
    }
    .headicon1, .headicon2, .headicon3 {
        font-size: 15px;
        margin-left: 10px;
    }
    /* .headicon3 {
        margin-left: 7px;
    } */
    .contactInfoHeader i {
        font-style: normal !important;
        font-weight: normal;
    } 
    .socialiconIpad span > i {
        font-size: 12px !important;
        font-weight: normal;
    }
    .socialiconIpad h6 > i {
        font-size: 12px !important;
        font-weight: normal;
    }
    .socialiconIpad a {
        font-weight:normal;
        font-size: 15px !important;
    }
    /* navbar */
    .navpro {
        display: none;
    }
    .nvb {
        padding: 3px;
    }
    .ht {
        padding-left: 10px;
        font-weight: bold;
        font-size: 18px;
        color: #011842 !important;
        position: absolute;
        margin-top: .5rem;
        font-family: 'Montserrat', sans-serif;
    }
    .hcccititle {
        font-size: 0.6rem;
        position: relative;
        margin-top: -.3rem;
    }
    /* ----Carousel------ */

    .carousel1 .carousel2 img{
        height: 23rem;   
    }

    /* buttons */

    .main-button .buttons1 a{
        border-radius: 10px 10px 10px 10px;
        width: 22vw;  
        height: 60px;
        padding-top: 10px;
           
    }
    .main-button .buttons1{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        
    }
    .main-button .buttons1 .buttons{
        padding-top: 16px; 
    }
    .act,.bsais{
        background-color: #447996 !important;
    }


    /* Grade 1 to 6 */
    .grade-list .row1 {
        height: 15vh;
    }
    .grade-list .card{
        height: 15vh;
        width: 15vw;
    }
    .back{
        position: absolute;
        bottom: 0 !important;
        left: 0 !important;
        clip-path:  circle(45% at 0 100%);
    }
    .grade-list .grade-text, .grade-list .grade-number {
        font-size: 15px !important;
    }
}

/* junior school CSS */
.back1{
    position: absolute;
    bottom: 0 !important;
    left: 0 !important;
    clip-path:  circle(49% at 0 100%);
}

/* Desktop */
@media only screen and (min-width:1025px){

    .carousel1 .carousel2 img{
        height: 85vh;   
    }
    .images img{
        height: 50vh;
        
    }
    .main-button .buttons1 a{
        
        padding-top: 15px;
        width: 18vw;
        margin: auto;
        font-size: 20px;
    }
    /* grade school card */
    .grade-list {
        height: 25vh;
    }
    .grade-list .card {
        height: 25vh;
        width: 13vw;
    }
    .back{
        clip-path:  circle(49.0% at 0 100%); 
    }
    .grade-list .grade-text, .grade-list .grade-number {
        font-size: 15px !important;
        color: #f3f3f3;
    }
    .grade-list .card-body {
        margin: 0 !important;
        position: absolute;
        bottom: 0;
        margin-bottom: 50px;
    }

    /* junior scholl card */
    .junior-list .card {
        height: 25vh;
        width: 13vw;
    }
    
    .back1{
        clip-path:  circle(49.0% at 0 100%);
    }
    .junior-list .grade-text, .junior-list .grade-number {
        font-size: 15px !important;
        color: #f3f3f3;
    }
    .junior-list .card-body {
        margin:  0 !important;
        position: absolute;
        bottom: 0;
    }
}    

/* Default carousel image styling */
.carousel-item img {
    object-fit: cover; /* Ensures the image covers the area without distortion */
    object-position: top;
    width: 100%; /* Full width */
    height: auto; /* Let height adjust automatically for aspect ratio */
    max-height: 80vh; /* Prevents overly tall images */
}

/* For smaller screens */
@media (max-width: 768px) {
    .carousel-item img {
        height: 40vh; /* Adjust height for smaller screens */
    }
}

/* For tablets and medium-sized screens */
@media (min-width: 769px) and (max-width: 1024px) {
    .carousel-item img {
        height: 70vh; /* Adjust for tablets and medium screens */
        object-position: 50% 20%;
    }
}

/* For large desktop screens */
@media (min-width: 1025px) {
    .carousel-item img {
        height: 90vh; /* Taller images on large screens */
        object-position: 50% 20%;
    }
}