{% extends 'base.html' %}

{% block title %}
    <title>Enter Security Password</title>
    <style>
        .form-group input {
            display: block;
            width: 100%;
            padding: .375rem .75rem;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5;
            color: var(--bs-body-color);
            background-color: var(--bs-body-bg);
            background-clip: padding-box;
            border: var(--bs-border-width) solid var(--bs-border-color);
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            border-radius: var(--bs-border-radius);
            transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
        }
        .input-group-text {
            cursor: pointer;
        }
    </style>
{% endblock title %}

{% block content %}
<div class="container w-25 mt-5" id="securityPasswordContainer">
    <h5 class="mb-4">Enter Security Password</h5>
    <form method="POST" action="{% url 'register_view' %}" class="border p-4 rounded shadow">
        {% csrf_token %}
        <div class="form-group">
            <label for="securityPassword">Security Password</label>
            <div class="input-group" style="flex-wrap: nowrap;">
                <input id="security_password" type="password" class="form-control" name="security_password" required>
                <span class="input-group-text" id="toggle-password">
                    <i class="fas fa-eye" id="password-icon"></i>
                </span>
            </div>
        </div>
        {% if error %}
        <div class="text-danger mt-2">{{ error }}</div>
        {% endif %}
        <button type="submit" class="btn btn-primary btn-block mt-3">Verify Password</button>
    </form>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        function togglePassword(inputId, iconId) {
            const passwordInput = document.getElementById(inputId);
            const passwordIcon = document.getElementById(iconId);

            passwordIcon.addEventListener('click', function () {
                const type = passwordInput.getAttribute('type') === 'password' ? 'text' : 'password';
                passwordInput.setAttribute('type', type);

                // Toggle the icon
                passwordIcon.classList.toggle('fa-eye');
                passwordIcon.classList.toggle('fa-eye-slash');
            });
        }

        togglePassword('security_password', 'password-icon');
    });
</script>
{% endblock %}
